body {
    margin: 0 auto;
    font-family: Arial;
    font-size:1.25em;
}
.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px;
}

/*		nav-bar		*/
@media only screen and (max-width: 800px) {
    .nav{
    
        padding: 0;
    }
    li{
    	font-size: 0.75em;
    	padding: 0px;
    }
}

.hnav:hover{
	background-color: #370246;


}
ul{
	padding-left:20px;
}

.nav{
	display: flex;
	list-style-type: none;
	background-color: #200129;
	margin: 0;
	font-size: 1em;	
}
li{
	padding: 20px;

}
a{
	text-decoration:none;
	color: #fefefe;
}
.push{
	margin-left: auto;
}
.sticky {
  position: fixed;
    top: 0;
  width: 100%;
}
/*		about		*/
.about{
	width: 100%;
	display: flex;
	align-items: center;
    
	background-image: url(dhm-rachid.github.io/background.jpg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	height: cover;
}
.about>p{
	color: #FFFFFF;
	width: 70%;
	margin-left: 20px;
	margin-top: 70px;
}
/*      grid 	*/

.grid{
	background-color: #370246;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.grid1{
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 20px;
    background-color: #370246;
    padding-top: 10px;
}
.grid2{
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 20px;
    background-color: #370246;
  	padding-top: 10px;
}
.box {
    background-color: #370246; 
}
.box > img {
    
   width: 100%;
    height: 100%;
    object-fit: cover;

}
.img:hover {
  width: 110%;
    height: 110%;
    object-fit: cover;
}
footer {
	padding-top: 10px;
	padding-bottom: 10px;
    text-align: center;
    background-color: #200129;
    color: #FFFFFF
}